body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    color: #303030;
    font-size: 16px;
    line-height: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

footer {
    padding: 1rem 1.5rem;
    position: relative;
    top: 4rem;
    flex-direction: row;
    border-top: 1px solid #d8d8d8;
}

/*Both Desktop and Mobile layout*/

header {
    background-color: #ffffff;
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    z-index: 1000; 
}

main {
    position: relative;
    top: 4rem;
}

/* Patterns */
 
button {
    height: 4rem;
    background-color: #303030;
    color: white;
    border: none;
    font-size: 1.2rem;
    flex-shrink: 1;
    border-radius: 2px;
}

.white {
    background-color: white;
}

.dark {
    background-color: #d8d8d8;
}

/* Text styles */

h1 {
    font-size: 2rem;
    line-height: 2rem;
}

h2 {
    font-size: 1.4rem;
    line-height: 1.4rem;
}

h3 {
    font-size: 1rem;
    color: grey;
    text-transform: uppercase;
    font-weight: lighter;
}

p {
    font-size: 1rem;
    line-height: 1.2rem;
}

.bold {
    font-weight: bold;
}

.ligt {
    font-weight: lighter;
}

.caption {
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #303030;
    line-height: 1rem;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1rem;
}

/* sections */
/* cover */

.cover {
    background-color: #d8d8d8;
    width: 100%;
    display: flex;
}

/* Articles */

.articles .others .card-pic .description a{
    color: #28bfb2;
}

/* Courses */

.courses h1 {
    text-align: center;
}

.courses {
    display: flex;
    flex-direction: column;
}

/* Thesis */

.thesis {
    width: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.thesis h1 {
    text-align: center;
}
/*Header for Desktop*/

@media only screen and (min-width: 801px) {

    mobile {
        display: none;
    }

    button {
        width: 20rem;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #logo {
        height: 4rem;
        margin: 0 1.5rem;
        display: flex;
        flex-direction: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 1.2rem;
    }

    nav {
        height: 4rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-right: 1.5rem;
    }

    li {
        margin left: 1rem;
        font-size: 1rem;
    }

    /* footer */
    footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    footer .links a {
        margin-left: 1rem;
        font-size: 1rem;
    }

    /* layout Patterns */

    .left {
        width: 60%;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .card-pic .picture {
        width: 35%;
        padding: 1rem;
    }

    .card-pic .description {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card-pic .description h2 {
        line-height: normal;
        margin: 0;
    }

    /* sections */
    /* cover */

    .cover h1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .cover .picture img {
        width: 100%;
    }
     
    .cover .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* Articles */

    .articles {
        flex-direction: row;
    }

    .articles .feature .picture img {
        width: 100%;
        height: auto;
    }

    .articles .others {
        display: flex;
        flex-direction: column;
    }

    .articles .others .card-pic {
        display: flex;
        flex-direction: row;
    }

    .articles .others .card-pic .picture {
        width: 35%;
    }

    .articles .others .card-pic .picture img {
        width: 100%;
        height: auto;
    }

    /* Courses */

    .courses {
        background-color: #d8d8d8;
        padding: 2rem 3.5rem;
    }

    .courses .course {
        width: 30%;
        background-color: white;
        flex-grow: 1;
        flex-shrink: 1;
        margin: 0 1rem;
    }

    .courses .up-row, .courses .down-row {
        display: flex;
        flex-direction: row;
    }

    .courses .up-row {
        margin-bottom: 2rem;
    }

    .courses .course .picture {
        width: 100%;
    }

    .courses .course . picture img {
        width: 100%;
    }

    .course .description {
        padding: 0 1rem;
    }

    /* Thesis */

    .thesis-content .feature {
        padding-top: 0;
    }

    .thesis-content .feature .picture {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .thesis-content .feature {
        padding-top: 0;
    }

    .thesis-content .feature .picture {
        width: 100%;
    }

    .thesis-content .feature .picture video {
        width: 100%;
    }

    .thesis-content .others .card-pic {
        padding: 0;
        display: flex;
        flex-direction: row;
    }

    .thesis-content .others .card-pic .picture {
        width: 35%;
    }

    .thesis-content .others .card-pic .picture img {
        width: 100%;
        height: auto;
    }
}



