body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    color: #303030;
    font-size: 16px;
    line-height: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}




/*Both Desktop and Mobile layout*/
header {
    background-color: #ffffff;
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    z-index: 1000; 
}




/*Header for Desktop*/

@media only screen and (min-width: 801px) {

    mobile {
        display: none;
    }

    button {
        width: 20rem;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #logo {
        height: 4rem;
        margin: 0 1.5rem;
        display: flex;
        flex-direction: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 1.2rem;
    }

    nav {
        height: 4rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-right: 1.5rem;
    }

    li {
        margin left: 1rem;
        font-size: 1rem;
    }
}

